.searchContainer {
  display: flex;
  justify-content: center;
}

.searchBox {
  position: relative;
}

.searchButton {
  position: absolute;
  padding: 3px 1em;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  border: none;
  background: none;
}

.searchInput {
  font-size: 1.2rem;
  height: 2rem;
  border-radius: 10px;
  padding: 5px 2.5rem 5px 10px;
  border: 3px solid white;
}

.searchInput:focus,
.searchButton:focus {
  outline: none;
  box-shadow: 0 0 1.5em #ebbed4;
}
